/** Mini Custom styling */
.explorer {
    font-size: 16px !important;
    font-weight: 100 !important;
  }
  .explorer2 {
    font-size: 16px !important;
    font-weight: 200 !important;
  }
  .subtitle {
    font-weight: 80 !important;
    font-size: 23px !important;
  }
  .nothing {
    background-color: #f2f2f2 !important;
    color: black !important;
    font-weight: 400;
  }
  #search-input {
    font-size:15px !important;
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    padding: 0 45px 0 0;
  
  }
  .search {
    position:absolute;
    align-self: center;
    cursor: pointer;
    padding: 20px 20px 0 0 ;
  }
  .hideMe {
    display: none !important;
  }
  #hashtxt {
    white-space: normal;
  }
  #backbtn {
    margin-left: 10px;
  }
  #header {
    font-weight: 300;
    font-size: 44px;
    padding: 5px;
  }
  .info {
    margin-top: 28px;
    color: #929396;
  }
  .header {
    font-size: 26px;
  }
  .search {
    width: 24px;
  }
  .active {
    background-color: #F6661E !important;
  }
  .minima-orange {
    color: #F6661E !important;
  }
  .minima-orange-bg {
    background-color: #F6661E !important;
  }
  .minima-black-bg {
    background-color: black !important;
  }
  .minima-grey-bg {
    background-color: #929396 !important;
  }
  .minima-blue-txt {
    color: #35ABC7 !important;
  }
  .minima-blue-bg {
    background-color: #35ABC7 !important;
  }


  /* Tabulator */
  .load-btn {
    margin-top: 15px;
  }
  .load-btn a {
    text-align: center;
  }
  .table-section {

  }
  @media only screen and (min-width: 1200px) {
    .table-section {
      margin-left: 150px;
      margin-right: 150px;
    }
    .my-search-wrap {
      margin-left: 150px;
      margin-right: 150px;
    }
  }
  @media only screen and (min-width: 1500px) {
    .table-section {
      margin-left: 250px;
      margin-right: 250px;
    }
    .my-search-wrap {
      margin-left: 150px;
      margin-right: 150px;
    }
  }
  .tabulator-tableHolder {
    background-color: #eee !important; 
    overflow:visible !important;
  }
  .tabulator-table {
    background-color: #eee !important; 
  }
  .tabulator-col-content {
    background-color: #eee !important;
    border: 0 !important;

  }
  .tabulator-header {
    background-color: #eee !important;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  .tabulator-header .tabulator-col {
    border: 0 !important;
  }
  .tabulator-header-cell {
    border: 0 !important; 
  }
  .tabulator-col-title {
    font-size: 16px;
    font-weight: 800;
    opacity: 0.75;
    text-transform: uppercase !important; 
  }
  .tabulator-row {
    padding: 15px;
    border: 0 !important;
  }
  .tabulator-cell {
    border: 0 !important;
  }
  .tabulator-row-even {
    border-top: 1px #e2e2e2 solid !important;
    background-color: #eee !important;
  }
  .tabulator-row-odd {
    border-top: 1px #e2e2e2 solid !important;
    background-color: #eee !important;
  }
  .tabulator-col-resize-handle {
   border: 0;
  }
  #example-table {
    border: 0;
  }
  #results-table {
    border: 0;
  }
  .tabulator .tabulator-row.tabulator-selectable:hover {
    background-color: #f2f2f2 !important;
    cursor: pointer;
  }

  .body-icon {
    width: 300px;
  }

  @font-face {
    font-family: EXO;
    src: url('Exo2-RegularCondensed.otf');
  }
  @font-face {
    font-family: EXO_Bold;
    src: url('Exo2-BoldCondensed.otf');
  }

  body {
    font-family: EXO !important;
  }
  body p {
    font-family: EXO !important;
  }
  body h5 {
    font-family: EXO_Bold !important;
  }

  input {
    color: black;
  }
  input:focus {
    color: gray;
  }
  .collection li {
    background-color: #eee !important;
  }
  tabulator-footer {
    background-color: #eee !important;
  }
  
  .collection-item {
    list-style-type: none;
    list-style: none;
  }

  .copy-icon {
    cursor: pointer;
    margin-bottom: 10px;
  }
  #hash {
    float: right;
  }
  #hash-wrapper {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap;
  }

  /* Details.html */
  .secondary-content {
    color: #929396 !important;
  }
  /* Transactions */

  .txn {
    border: 1px solid #e0e0e0;
  }
  .btn-flat {
    background-color: #929396 !important;
    color: #eee !important;
  }
  .input {
    background-color: #e2e2e2 !important;
    border: 1px solid #e0e0e0;
    color: #2F2F2F !important;
  }
  .output {
    background-color: #e2e2e2 !important;
    border: 1px solid #e0e0e0;
    color: #2F2F2F !important;

  }
  .chevron {
    color: #2f2f2f !important;
  }
  .amnt {
    color: #2f2f2f !important;
  }
  .address {
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: manual;
    padding-left: 10px;
    color: #929396 !important;
  }
  #index {
    font-size: 12px;
  }
  .txn-container {
    width: 96% !important;
  }
  .divider {
    border-color: #2D2D31 !important;
  }
  .pulse {
    padding-bottom: 40px;
    
  }
  footer .row {
    margin-bottom: 0;
  }

  #results-table .tabulator-footer {
    display: none;
  }